<div class="row-fluid">
	<div class="span12">
		<span class="label label-info" style="font-size:2em;">Social P2P</span>
	</div>
</div>

<hr>

<div class="row-fluid">
	<div class="span6">
		<div class="well_clone">
			<span class="label label-warning" style="font-size:2em;">Friends' Feed</span>

			<br><br>

			<div id="friend-news" style="padding:5px;">

				<h6 style="font-size:1.5em;"><a>Taeyun-c4k3</a></h6>
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td><a>Taeyun-c4k3 </a>
								싸늘하다..가슴에 비수가 날아와 꽂힌다..하지만 걱정하지 마라..손은 눈보다 빠르니깐 아귀한테는 밑에서 한장..정마담도 밑에서 한장  나 한장.. 아귀한테는 다시 밑에서 한장 이제 정마담에게..마지막 한장...!
							</td>
							<td class="time_nf">yesterday</td>
						</tr>
						<tr>
							<td><a>Sooyoung-a2ea </a>동작그만 밑장빼기냐?</td>
							<td class="time_nf">yesterday</td>
						</tr>
						<tr>
							<td><a>Taeyun-c4k3 </a>
								뭐야?!
							</td>
							<td class="time_nf">yesterday</td>
						</tr>
						<tr>
							<td><a>Sooyoung-a2ea </a>
								내패하고 정마담 패를 밑에서 뺏지? 내가 빙다리 헛바지로 보이냐 이새끼야..?
							</td>
							<td class="time_nf">yesterday</td>
						</tr>
						<tr>
							<td><a>Taeyun-c4k3 </a>
								증거있어?
							</td>
							<td class="time_nf">yesterday</td>
						</tr>
						<tr>
							<td><a>Sooyoung-a2ea </a>
								증거? 증거있지.. 너는 나에게 9땡을 줬을 것이여 그리고 정마담에게 줄려는 이거 이거 이거 장짜리 아녀? 자 모두들 보쇼..정마담에게 장땡을 줘서 이판을 끝내겠다 .. 이거 아니여?
							</td>
							<td class="time_nf">yesterday</td>
						</tr>
						<tr>
							<td><input type="text" class="span12"></td>
							<td><button class="btn btn-info">Comment</button></td>
						</tr>
						<tr><td colspan="2"><a>See more...</a></td></tr>
					</tbody>
				</table>



			</div>
		</div>
	</div>

	<div class="span6">
		<div class="well_clone">
			<span class="label label-inverse" style="font-size:2em;">Files in share</span>

			<div id="file_news"></div>

		</div>
	</div>
</div>